<!-- Toolbar -->
<mat-toolbar color="{{toolbarColour}}">
    <img id="header-logo" src="{{logoPath}}">
    <div>
        <h1 id="header-title">{{title}}</h1>
        <p id="header-slogan">{{slogan}}</p>
    </div>
</mat-toolbar>

<div id="content">
    <form [formGroup]="formFields">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>x</mat-label>
                <input matInput placeholder="x" formControlName="x">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>y</mat-label>
                <input matInput placeholder="y" formControlName="y">
            </mat-form-field>
        </p>
        <button mat-button (click)="UpdateObject()">Send to Unity...</button>
    </form>
</div>

<router-outlet></router-outlet>