<app-patient-info></app-patient-info>
<div style="display:flex;">
    <div style="width:70%;">
        <app-dash-tiles-panel></app-dash-tiles-panel>

        <app-device-config></app-device-config>

    </div>
    <div style="width:30%;">

        <app-dash-tile height="100%" width="100%" backgroundColour="#6c757d"
            text="test">
        </app-dash-tile>

    </div>
</div>

<!-- <div style="display:flex;">
    <div>
        <app-dash-tiles-panel></app-dash-tiles-panel>
        <p>a content pane will appear here</p>
    </div>
    <app-device-analytics></app-device-analytics>
</div> -->