<br>
<h5 style="text-align: start;">{{collection.collectionTitle}}</h5>
<hr>

<mat-grid-list [cols]="nCols" rowHeight="2:1" gutterSize="30px" #grid (window:resize)="CalculateNCols()">
    <mat-grid-tile *ngFor="let user of users">
        <app-device-card style="width: 97%; height:97%;" [backgroundColor]="collection.cardColour" [userID]="user"></app-device-card>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf="users.length === 0">
    <img src="{{placeholderIconPath}}">
    <p>No users to show.</p>
</div>