<h5>Message Patient</h5>
<div style="text-align: left;" class="mat-scroll px-2 pb-4" [style.height.px]="SectionHeight"
    (window:resize)="onResize($event)">
    <div *ngIf="messageSent" class="centre">
        <mat-icon style="font-size: 54px;" class="pl-1">mark_email_read</mat-icon>
        <p class="text-large">Success!</p>
    </div>
    <form [formGroup]="formFields" style="max-width: 400px; margin: 0 auto;" *ngIf="!messageSent">
        <!-- MESSAGE TITLE FIELD -->
        <mat-form-field class="d-block">
            <input matInput placeholder="Title" formControlName="fTitle" />
        </mat-form-field>

        <!-- MESSAGE CONTENT FIELD -->
        <mat-form-field class="d-block">
            <textarea matInput placeholder="Message" formControlName="fMessage"></textarea>
        </mat-form-field>

        <!-- SEND BUTTON -->
        <button mat-raised-button color="primary" type="submit" class="hide-routerlink w-100"
            [disabled]="!formFields.valid" (click)=SendMessage()>
            SEND
        </button>
    </form>
</div>