<form [formGroup]="formFields" class="mx-auto col-10" style="max-width: 400px;">
    <mat-form-field class="col-12">
        <input matInput placeholder="Username" formControlName="fUsername" type="email" />
    </mat-form-field>

    <!-- passwordToggle -->
    <mat-form-field class="col-12">
        <input matInput placeholder="Password" formControlName="fPassword" type="password" />
    </mat-form-field>

    <div class="row justify-content-around">
        <button mat-button class="col-12" (click)="LogIn()">
        Sign In
      </button>
    </div>
</form>