<!-- PLACEHOLDER -->
<div *ngIf="!entriesExist && loaded" class="centre" style="top:390px">
    <mat-icon style="padding-left: 35px;">domain_disabled</mat-icon>
    <p>No entries yet.</p>
</div>

<!-- LOADER -->
<div *ngIf="!loaded">
    <mat-spinner style="margin: 0 auto;"></mat-spinner>
</div>

<!-- LOADED CONTENT  -->
<table mat-table [dataSource]="dataSource" class="w-100" style="text-align: left;" *ngIf="entriesExist && loaded">

    <!-- Date -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let entry">
            {{entry.Start | date: 'shortDate'}}
        </td>
    </ng-container><!-- Time -->
    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let entry">
            {{entry.Start | date: 'shortTime'}}
        </td>
    </ng-container>

    <!-- Description -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let entry">
            {{entry.Description ? entry.Description.substring(0,15):''}}...
        </td>
    </ng-container>

    <!-- Tools (edit/delete) -->
    <ng-container matColumnDef="tools">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row; let entry">
            <mat-icon class="ml-2 clickable" [style.color]="row.tableRowHovered ? 'black' : 'white'" (click)="EditEntry(entry)">edit</mat-icon>
            <mat-icon class="ml-2 clickable" [style.color]="row.tableRowHovered ? 'black' : 'white'" (click)="DeleteEntry(entry.Id)">delete</mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{tableRowHovered: row.tableRowHovered}"
        (mouseover)="row.tableRowHovered = true" (mouseout)="row.tableRowHovered = false"></tr>
</table>

<mat-paginator [pageSizeOptions]="[4]" class="pb-4">
</mat-paginator>