<h5>Calendar</h5>
<div style="text-align: left; overflow-x: hidden;" class="mat-scroll  px-2 pb-4" [style.height.px]="SectionHeight"
    (window:resize)="OnResize($event)">
    <!-- VIEW -->
    <div *ngIf="!creating">
        <button mat-raised-button color="primary" (click)="creating = true;" class="w-100" type="button">ADD CALENDAR ENTRY</button>
        <app-calendar-view (editClicked)="EditCalendarEntry($event)"></app-calendar-view>
    </div>
    <!-- CREATE -->
    <div *ngIf="creating">
        <app-calendar-create *ngIf="creating" (buttonClicked)="creating = false; entryToEdit = null;" [editing]="entryToEdit"></app-calendar-create>
        <div class="row pt-4">
        </div>
    </div>
</div>