<form [formGroup]="formFields" style="max-width: 400px;" class="mx-auto">
    <!-- START TIME/DATE FIELD -->
    <mat-form-field class="d-block">
        <input matInput type="datetime-local" placeholder="Start" formControlName="fStart" />
    </mat-form-field>

    <!-- END TIME/DATE FIELD -->
    <mat-form-field class="d-block">
        <input matInput type="datetime-local" placeholder="End" formControlName="fEnd" />
    </mat-form-field>

    <!-- REPEAT APPT FIELD -->
    <mat-form-field class="d-block">
        <mat-label>Repeat</mat-label>
        <mat-select formControlName="fRepeat">
            <mat-option *ngFor="let timeSpan of repetitionEnum;let i = index" [value]="i">
                {{timeSpan}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- DESCRIPTION FIELD -->
    <mat-form-field class="d-block">
        <textarea matInput placeholder="Description" formControlName="fDescription"></textarea>
    </mat-form-field>

    <!-- REMINDERS -->
    <mat-form-field class="d-block" matTooltipPosition="above"
        matTooltip="Pre-warn patients some hours and minutes before the actual event.">
        <mat-label>Reminders<mat-icon class="ml-2">
                info</mat-icon>
        </mat-label>
        <button mat-raised-button color="primary" class="w-100 hide-routerlink ml-3" matSuffix
            (click)="AddReminder()">ADD
            REMINDER</button>
        <input matInput type="time" formControlName="fReminders" />
    </mat-form-field>
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let reminder of reminders" [selectable]="true" [removable]="true"
            (removed)="RemoveReminder(reminder)">
            <span class="small">{{reminder}}</span>
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>

    <!-- BUTTONS -->
    <div class="row pt-5">
        <button mat-button class="hide-routerlink col-5" (click)="Return()">
            CANCEL
        </button>
        <div class=col-2></div>
        <button mat-button type="submit" class="hide-routerlink col-5" [disabled]="!formFields.valid"
            (click)="CreateCalendarEntry()">
            {{editing ? 'SAVE CHANGES' : 'CREATE'}}
        </button>
    </div>
</form>