/* Adds bootstrap styles. */

@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

/* Add an angular-material theme.

deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* Custom fonts. */

@font-face {
    font-family: GEInspiraRegular;
    src: url('/assets/fonts/GE\ Inspira\ Regular.ttf')
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: #f8f8f8;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#header-logo {
    max-height: 50px;
}

#header-title {
    font-family: "GEInspiraRegular";
    font-size: 2rem;
    color: white;
    padding-left: 15px;
    margin: 0;
    line-height: 1.1;
}

#content {
    /* max-width: 11in; */
    text-align: center;
}

#header-slogan {
    padding-left: 15px;
    font-size: 0.6rem;
    margin: 0;
    line-height: 1;
}


/* Material angular snackbar styling. */

.success-toast {
    color: #fff;
    background-color: #4bb543;
}

.error-toast {
    color: #fff;
    background-color: #d8000c;
}

.mat-simple-snackbar {
    color: white;
}

.mat-simple-snackbar-action {
    color: #fff;
}


/* Misc */

.clickable:hover {
    cursor: pointer;
}

.centre {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.hide-routerlink:focus {
    outline: 0;
}