@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: "headers";
    src: url('/assets/fonts/GE\ Inspira\ Regular.ttf')
}

body {
    margin: 0;
}

#header-logo {
    max-height: 50px;
    margin-right: 15px;
}

#header-title {
    position: absolute;
    top: 12px;
    font-size: 2.2rem;
    font-family: "headers";
}

#header-slogan {
    position: absolute;
    top: 34px;
    font-size: 0.6rem;
    margin: 0;
}

#content {
    text-align: center;
}