<mat-card class="h-100 w-100">
    <mat-card-title style="text-align: left;">Statistics</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="mt-4 mat-scroll" style="text-align: left; height: 200px;">
            <!-- voice/gesture/gaze -->
            <p>
                <span><b>Preferred input: </b></span>
                <span>voice</span>
            </p>
            <!-- Falls in last 12 months -->
            <p>
                <span><b>Falls per anum: </b></span>
                <span>0.1</span>
            </p>
            <!-- n missed appoiintments of n arranged -->
            <p>
                <span><b>Missed appointments: </b></span>
                <span>14 of 100</span>
            </p>
            <!-- e.g. stickies/fall detect/context sensitive/ etc. ('actions') -->
            <p>
                <span><b>Most used feature: </b></span>
                <span>sticky notes</span>
            </p>
            <!-- Confused object/detected objects -->
            <p>
                <span><b>Most detected objects: </b></span>
                <span>apple, pepper, plum, pear, cup</span>
            </p>
    </mat-card-content>
</mat-card>