<!--This is all static content that will be the same on every page. -->

<!-- Page Toolbar -->
<header>
    <mat-toolbar color="{{toolbarColour}}">
        <!-- Title and site logo -->
        <div style="display:flex;" class="clickable hide-routerlink" [routerLink]="['/dashboard']">
            <img id="header-logo" src="{{logoPath}}">
            <div>
                <div id="header-title">{{title}}</div>
                <div id="header-slogan">{{slogan}}</div>
            </div>
        </div>
        <span class="flex-fill"></span>
        <!--  -->

        <!-- Sign out button only shows if user is logged in. -->
        <img src="{{logOutIconPath}}" class="clickable" (click)="LogOut()" *ngIf="authService.IsLoggedIn" />
        <!--  -->

    </mat-toolbar>
</header>

<div id="content" class="mx-auto mt-5 pl-5 pr-5">
    <nav *ngIf="authService.IsLoggedIn">
    </nav>
    <!-- This is the element that shows the current "page" in our single-page application. -->
    <router-outlet></router-outlet>
</div>