<br>
<h5 style="text-align: start;">{{collection.collectionTitle}}</h5>
<hr>

<mat-grid-list [cols]="nCols" rowHeight="2:1" gutterSize="30px" #grid (window:resize)="CalculateNCols()">
    <mat-grid-tile *ngFor="let patient of patients">
        <app-dash-tile style="width: 97%; height:97%;" height="100%" width="100%"
            [backgroundColour]="collection.cardColour" [footer]="patient" (click)="LoadPatient(patient)">
        </app-dash-tile>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf="patients.length === 0">
    <img src="{{placeholderIconPath}}">
    <p>No patients to show.</p>
</div>